:root {
    --color1: rgba(128, 0, 0, 0.964);
    --color2: #87CEFA;
}
header, footer, section {
    padding: 100px 0;
}
header {
    padding: 200px 0;
}
header, footer {
    background: url(../img/фон1.gif), var(--color1);
    background: url(../img/фон1.gif), linear-gradient(to right, var(--color1) 0%,var(--color2) 100%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.itd_play {
background-color: var(--color1);
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
margin: 30 auto;
transition: all 0.2s ease;
}
.itd_play:hover{
background-color: var(--color2);
}
.itd_triangle {
width: 0;
height: 0;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: tr
;
}
.btn-itd {
display: block;
max-width: 200px;
background-size: contain;
margin: 0 auto;
padding: 8px 30px;
color: var(--color1);
background-color: var(--color2);
}